:root{
    --title-font: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-font: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 1024px) {
    html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      scrollbar-width: none;
    }
  
    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100%;
      margin: 0;
      padding: 0;

    }
  
    .intro {
      background-color: darkslategray;
      width: 100vw;
      height: 35vh;
      transform: rotate(-25deg) scaleY(400%) scaleX(300%);
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    }
  
    .bio-container {
      height: 90vh;
      width: 80vw;
      background-color: transparent;
      position: absolute;
      top: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
    }
  
    .profile-pic {
      background: url('./picture1.jpg');
      background-size: cover;
      height: 100%;
      width: 50%;
    }
  
    .name {
      position: absolute;
      color: antiquewhite;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      bottom: 0;
      left: 1%;
      font-size: 56px;
      font-family: var(--title-font);
    }

    br{
        display: none;
    }
  
    .bio-text {
      height: 70%;
      width: 50%;
      background-color: aliceblue;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
      padding: 2%;
      font-family: var(--text-font);
    }
  
    .bio-text > h1 {
        font-family: var(--title-font);
    }

    .icon-container{
        display: flex;
        gap: 20px;
        background-color: transparent;
        position: absolute;
        right: 0;
        bottom: 11%;
    }

    .projects {
      margin-top: 130vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100vw;
      height: auto;
      gap: 30px;
      margin-left: 2%;
    }
  
    .title {
      grid-column: span 3;
      font-family: var(--title-font);
      font-size: 56px;
      padding: 0;
    }
  
    .project {
      height: 400px;
      width: 80%;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
      transition: transform 0.2s ease-in;
      border-radius: 16px;
    }
  
    .project:hover {
      transform: scale(1.05);
    }
  
    .p-screenshot {
      width: 100%;
      height: 50%;
      background-color: aqua;
    }
  
    .p-top-container {
      height: 10%;
      width: 95%;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--title-font);
    }

    .p-icon-container{
        display: flex;
        gap: 10px;
    }
  
    .p-description {
      height: 40%;
      width: 100%;
      margin-bottom: 0;
      font-family: var(--text-font);
    }
  
    footer {
      margin-top: 20%;   
      height: 80vh;
      width: 100vw !important;
      background-color: darkslategray;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-left: 0;
    }
    
    .footer-title{
        font-family: var(--title-font);
    }

    .contact-info {
      width: 50%;
      padding: 2%;
      font-family: var(--text-font)
    }
  
    .footer-pic {
      width: 50%;
      height: 80%;
      margin-right: 5%;
      background: url('./picture2.jpg');
      background-size: cover;
    }
  
    .footer-icon-container{
      margin-top: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .footer-p{
        display: flex;
    }
  

    .icon-large{
        font-size: 40px;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
      height: 100%;
      max-width: 1023px !important;
    }
  
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  
    .intro {
      background-color: darkslategray;
      width: 100%;
      height: 30vh;
      transform: rotate(-25deg) scaleY(400%) scaleX(300%);
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    }
  
    .bio-container {
      
      height: 80%;
      width: 80%;
      background-color: transparent;
      position: absolute;
      top: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

    }
  
    .profile-pic {
      background: url('./picture1.jpg');
      background-size: cover;
      height: 100%;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
    }

    br{
        display: none;
    }
  
    .name {
      position: absolute;
      color: antiquewhite;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      bottom: 0;
      font-family: var(--title-font);
      font-size: 40px;
      top: 5%;
      right: -80%;
    }
  
    .bio-text {
      height: 90%;
      width: 80%;
      background-color: aliceblue;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
      padding: 2%;
      position: absolute;
      bottom: -30%;
      font-family: var(--text-font);
      font-size: 20px;

    }

    .break-text-1{
        margin-top: 0;
        width: 45% !important;
        height: auto;
        margin-left: 50%;
        position: absolute;
        line-height: 20px;
    }

    .break-text-2{
        position: absolute;
        bottom: 10%;
    }
    .bio-text > h1{
        font-family: var(--title-font);
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0 8% 0 0;
    }

    .icon-container{
        display: none;
    }
  
    .projects {
      margin-top: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90vw;
      height: auto;
      margin-left: 5vh;
      gap: 10px;
    }
  
    .title {
      grid-column: span 2;
      font-family: var(--title-font);
      font-size: 48px;
      padding: 0;
    }
  
    .project {
        height: 350px;
        width: 90%;
        border-radius: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        transition: transform 0.2s ease-in;
    }
  
    .project:hover {
      transform: scale(1.05);
    }
  
    .p-screenshot {
      width: 100%;
      height: 50%;
      background-color: aqua;
    }
  
    .p-top-container {
      height: 10%;
      width: 95%;
      background-color: transparent;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2%;
    }

    .p-title{
        font-family: var(--title-font);
    }

    .p-description{
        font-family: var(--text-font);
    }
    .icon-small{
        font-size: 25px;
    }

    .p-icon-container{
        display: flex;
        gap: 5px;
    }
  
    .p-description {
      height: 40%;
      width: 98%;
      background-color: transparent;
      margin-bottom: 0;
    }
  
    footer {
      margin-top: 25%;
      height: 75vh;
      width: 100vw;
      background-color: darkslategray;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }
  
    .contact-info {
      width: 50%;
      padding: 2%;
    }
  
    .footer-pic {
      width: 40%;
      height: 80%;
      background: url('./picture2.jpg');
      background-size: cover;
      background-position: 30%;
    }

    .footer-title{
        font-family: var(--title-font);
        color: white;
    }

    .footer-p{
        font-family: var(--text-font);
        color: white;
        display: flex;
        align-items: center;
    }

    .footer-icon-container{
        display: flex;
        justify-content: space-around;
        
    }

    .icon-large{
        font-size: 50px;
    }

    .icon-small{
        font-size: 25px;
    }
  }
  
@media screen and (max-width: 767px) {
    html{
      max-width: 767px !important; 
      overflow-x: hidden;
      scrollbar-width: none;
    }
  
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
    }
    
    .icon-large > i {
        font-size: 50px;
        color: black;
    }

    .icon-small > i {
        font-size: 25px;
    }

    .intro {
      background-color: darkslategray;
      width: 200vw;
      height: 20vh;
      transform: rotate(-25deg) scaleY(400%) scaleX(300%);
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    }
  
    .bio-container {
      top:  10%;
      height: 130vh;
      width: 100%;
      background-color: transparent;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .profile-pic {
      background-image: url(./picture1.jpg);
      background-size: cover;
      background-clip: border-box;
      background-position: center;
      height: 80%;
      width: 90%;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
  
    .name {
      position: absolute;
      color: white;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      bottom: 30%;
      left: 5%;
      font-size: 72px;
      font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .bio-text > h1 {
        font-family:  var(--title-font);
    }
  
    .bio-text {
      height: 35%;
      background-color: transparent;
      padding: 3%;
      font-family: var(--text-font);
      font-size: medium;
    }
  
    .icon-container{
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .projects {
      margin-top: 125vh;
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      height: auto;
      margin-left: 8%;
      margin-bottom: 10%;
    }
  
    .title {
      grid-column: span 3;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      font-family: var(--title-font);
    }
  
    .project {
      height: 400px;
      width: 90%;
      border-radius: 8px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
      transition: transform 0.2s ease-in;
    }
  
    .project:hover {
      transform: scale(1.05);
    }
  
    .p-screenshot {
      width: 100%;
      height: 50%;
      background-color: aqua;
    }
  
    .p-top-container {
      height: 10%;
      width: 100%;
      background-color: transparent;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center; 
    }

    .p-title{
        font-family: var(--title-font);
    }
  
    .p-icon-container{
      display: flex;
      align-items: center;
      margin-right: 5%;
      gap: 20%;
    }
  
    .icon-small{
      height: 25px;
      width: 25px;
    }
  
    .p-description {
      height: 40%;
      width: 100%;
      background-color: transparent;
      margin-bottom: 0;
    }
  
    footer {
      height: 120vh;
      width: 100vw;
      background-color: darkslategray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: floralwhite;
    }

    .footer-title{
        font-family: var(--title-font);
    }
  
    .contact-info {
      height: 50%;
      padding: 2%;
      font-family: var(--text-font);
    }
  
    .footer-pic {
      height: 50%;
      width: 100vw;
      background-image: url('./picture2.jpg');
      background-size: cover;
      background-position: center;
      margin-bottom: 0;
    }

    .footer-p{
        display: flex;
        align-items: center;

    }
  
    .footer-icon-container{
      margin-top: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    .icon-large{
      height: 50px;
      width: 50px;
    }

    i{
        cursor: pointer;
    }
  
    
  }